@font-face
{
    font-family: mainFont;
    src: url(../fonts/linux.ttf);
}
body
{
	background: #00ff00 url("../../images/system/background.jpg") no-repeat fixed center; 
	margin: 0;
	padding: 0;
	font-family: mainFont;
	font-size: 16px;
}
#head
{
	height: 4.5em;
	padding: 0 0 1em 0;
	margin: 1em 5% 1em 5%;
	border-bottom: 1px solid grey;
}
#head .menu
{
	display: block;
	float: left;
}
#head .menu a
{
	font-size: 1.35em;
	line-height: 3.34em;/* center the text vertically (4.5*16)/(1.25*16) = 3.6 */
	margin: 0 0 0 2em;
	color: #ffffff;
	font-weight: 600;
	text-decoration: underline;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
#head .menu a:hover
{
	cursor: pointer;
	color: #dcdcdc;
}
#head .logo
{
	display: block;
	float: right;
	margin: 0 5% 0 5%;
}
#head .logo img
{
	display: block;
	height: 4.5em;
}
#main
{
	display: block;
	float: left;
	width: 85%;
	margin: 2em 0 0 5%;
	padding: 0 2em 0 2em;
}